{% extends "home/base_customer.html" %}
{% block customer_title %}Customer Service{% endblock %}
{% block customer_header_title %}Service{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center py-5">
  <div class="card shadow-lg border-0 overflow-hidden" style="max-width: 22rem;">
    <img
      src="https://img.freepik.com/free-photo/woman-working-call-centre_329181-13453.jpg"
      class="card-img-top"
      alt="Customer service representative"
      width="360"
      height="240"
      loading="lazy"
    >
    <div class="card-body text-center">
      <h2 class="h5 card-title">Customer Service</h2>
      <a href="{{ request.user.telegram_account.telegram_link }}" class="btn btn-primary w-100" rel="noopener noreferrer">Send Message</a>
    </div>
  </div>
</div>
{% endblock %}
